@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Montserrat";
  color: white;
}

html,
body {
  min-height: 100%;
}
body {
  background: radial-gradient(
    at top left,
    rgb(43, 143, 225) 0%,
    rgb(12, 10, 122) 100%
  );
  background-repeat: no-repeat;
}
p {
  margin: 16px auto;
  line-height: 1.5em;
}

.layout {
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  display: flex;
  grid-template-columns: 1fr 1fr;
  margin: 40px auto;
  justify-content: space-between;
  margin-right: 5%;
  margin-left: 5%;
}

nav a {
  display: inline-block;
  margin-left: 20px;
  font-weight: 400;
  padding-bottom: 8px;
  border-bottom: 3px solid transparent;
}

nav a:hover {
  border-color: white;
}

footer p {
  text-align: center;
  color: whitesmoke;
  margin: 40px auto;
}

.singleProject {
  text-align: center;
  margin: 5%;
  padding-top: 2%;
  width: 40%;
  border: solid white 1px;
  border-radius: 10px;
}

.projectImg {
  width: 60%;
  padding-bottom: 10px;
}

.stack {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: -10%;
}
